body {
  font-family: sans-serif;
  margin:0;
}

h1 h2 h3 h4 h5 h6 {
  font-family: 'Josefin Sans', sans-serif !important;
  margin:0;
}

#navbar {
  padding: .1rem .1rem;
  height: 15%;
  width:100%;
  min-width: 300px;
  background: #2AC926;
  font-family: 'Amatic SC', cursive !important;
}



#app {
	background: rgb(43, 179, 79);
}

header {
  font-family: 'Josefin Sans', sans-serif !important;
  background: #24BFA5;
  padding: 20px 15px 15px 15px;
  position: relative;
}

#dropdown-but {	
	background: #26C980 !important;
	
}

#submit-but-share {
	background: #2BB34F
}


#submit-search{
	background: #5DBF24
}